@using GaziU.DrugApp.DAL.Models
@model MuayeneKaydi

@Html.Partial("DoktorNav")

<div class="container mt-5">
    <div class="row">
        <!-- Sol Menü -->
        
        <div class="col-md-3">
            <div class="list-group">
                <a asp-controller="DoktorIslemleri" asp-action="IlacEkle" asp-route-hastaId="@ViewBag.hastaId" class="list-group-item list-group-item-action">İlaç Ekle</a>
                <a asp-controller="DoktorIslemleri" asp-action="KullandigiIlaclarById" asp-route-hastaId="@ViewBag.hastaId" class="list-group-item list-group-item-action">Hastanın Kullandığı İlaçlar</a>
                <a asp-controller="DoktorIslemleri" asp-action="YapilanTestler" asp-route-id="@ViewBag.hastaId" class="list-group-item list-group-item-action">Hastanın Yaptığı Beck Anksiyete Ölçekleri</a>
                <a asp-controller="DoktorIslemleri" asp-action="BeckDepresyon" asp-route-id="@ViewBag.hastaId" class="list-group-item list-group-item-action">Hastanın Yaptığı Beck Depresyon Ölçekleri</a>
                <a asp-controller="DoktorIslemleri" asp-action="BarnesAkatiziTesler" asp-route-id="@ViewBag.hastaId" class="list-group-item list-group-item-action">Hastanın Yaptığı Barnes Akatizi Ölçekleri</a>
                <a asp-controller="DoktorIslemleri" asp-action="MuayeneKayitlarList" asp-route-hastaId="@ViewBag.hastaId" class="list-group-item list-group-item-action">Muayene Kayıtları</a>
            </div>
        </div>

        <!-- Ana İçerik Bölümü -->
        <div class="col-md-9">
            <h2 class="mb-4">Hasta Muayene Notları</h2>
            <form method="post" asp-action="HastaMuayeneKayitEkle" asp-controller="Doktor">
               
                <input type="hidden" asp-for="HastaId" value="@ViewBag.hastaId" />
                <input type="hidden" asp-for="DoktorId" value="@ViewBag.doktorId" />
                <input type="hidden" asp-for="CreatedDate" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm:ss")" />

                <div class="mb-3">
                    <label asp-for="MuayeneNotu" class="form-label">Muayene Notları</label>
                    <textarea class="form-control" asp-for="MuayeneNotu" rows="6"></textarea>
                </div>

                <button type="submit" class="btn btn-primary">Kaydet</button>
            </form>
        </div>
    </div>
</div>
